
/* GLOBAL */
body{
  background-color: #fff;
  color: #02111b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* MAIN HEADER */

#main-header {
  background-color: #60d394;
  color: #fff;
}

/* NAV BAR */

#navbar {
  background-color: #515052;
}

#navbar ul{
  padding: 0;
  list-style: none;
}

#navbar li{
  display: inline;
}

#navbar a{
  text-decoration: none;
  color: #fff;
  padding-right: 20px;
  font-size: 18px;
}

#navbar a:hover{
  color: #60d394;
}

/* SHOWCASE */

#showcase{
  background-image: url(../images/showcase-image-two.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 400px;
  text-align: center;
  margin-bottom: 30px;
}

#showcase h1{
  color: #fff;
  padding-top: 125px;
  font-size: 40px;
  line-height: 1.6em;;
}

@media screen and (max-width: 750px) {
  #showcase {
    min-height: 300px;
  }

  #showcase h1 {
    padding-top: 75px;
  }
}

/* MAIN AND ASIDE */

#main{
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: justify;
}

#sidebar{
  float: right;
  width: 30%;
  background-color: #60d394;
  box-sizing: border-box;
  padding: 0 30px;
  margin-bottom: 30px;
}

#sidebar h2{
  padding-top: 20px;
  margin: 0;
  color: #fff;
}

#sidebar ul{
  padding: 0;
  margin: 10px 0;
  list-style: none;
}

#sidebar a{
  text-decoration: none;
  color: #fff;
  padding: 0;
}

#sidebar a:hover{
  color: #515052
}

@media screen and (max-width: 750px) {
  #main {
    float: none;
    width: 100%;
  }

  #sidebar {
    float: none;
    width: 100%;
  }
}

/* FORM */

#form-image{
  float: left;
  width: 30%;
  height: 275px;
  background-color: #60d394;
  background-image: url(../images/form-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#message-form{
  float: right;
  padding: 0 30px;
  width: 70%;
  box-sizing: border-box;
}

.form-input{
  padding-bottom: 15px;
}

.form-input h3{
  display: inline;
}

.form-input textarea{
  width: 100%;
  height: 50px;
}

.button{
  background-color: #515052;
  color: #fff;
  border: none;
  padding: 10px 30px;
  font-size: 12px;
}

@media screen and (max-width: 750px) {
  #form-image {
    float: none;
    width: 100%;
  }

  #message-form {
    float: none;
    width: 100%;
  }

  .button {
    margin-bottom: 30px;
  }
}

/* BUTTON ANIMATION */

  .button:hover {
    animation-name: change-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }

  @keyframes change-color {
    100% {
      background-color: #60d394;
    }
  }

/* FOOTER */

footer{
  background-color: #515052;
  height: 50px;
}

footer p{
  color: #fff;
  text-align: center;
  padding-top: 12px;
  margin: 0;
}